# other 
.DS_Store
*/.DS_Store
TODO
.vscode
__pycache__

# mm-excel
_mm-excel

# old files
_old

# key
data
imk.*

# files
olx1/data
olx1/output
olx2/data
olx2/output
otomoto1/data
otomoto1/output
otomoto2/data
otomoto2/output
output/* 
!output/.gitkeep

# automate
automate/*