TODO
.vscode
_old
output/*
!output/.gitkeep
diff/*
!diff/.gitkeep
icons/link.ico
icons/browser.ico 
exe
__pycache__
mm-excel
scraper_mac.py
output_mac
automate.sh
background-checker.scpt 
icons/car.png
.ds_store
date.pk
imk.pk
key.py
automate-*
date-olx.pk
scraper-olx.py
output-olx
_*
automate/